:root {
 --grid-size: 16;
 
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
p
 {
  margin: 0;
}

body {
    height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  .wrapper {
      display: flex;
      gap: 0.2rem;
  }

  .reset{
      background-color: hsl(46, 72%, 50%);
  }

.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-size),1fr);
    grid-template-rows: repeat(var(--grid-size),1fr);
    gap: 0;
    width: 800px;
    height: 800px;
}

.gridSquare {
    background-color: hsl(180, 100%, 50%);
}
