/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
p
 {
  margin: 0;
}

body {
    height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  .wrapper {
      display: flex;
      gap: 0.2rem;
  }

  .reset{
      background-color: rgb(37, 219, 37);
  }

.container {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    gap: .2rem;
    width: 960px;
    height: 960px;
}

.gridSquare {
    background-color: cyan;
}
